<a href="https://colab.research.google.com/github/ChemsBellaza/Projet_Ecole/blob/main/Adult_Devoir_Bellaza_Nazareno_Saandi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [80]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier

import pickle

In [81]:
df = pd.read_csv('/content/adult - adult.csv')

In [102]:
df

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
1,65,2,6096,11,8,6,3,1,4,0,0,89,17,38,0
3,37,2,6564,5,3,0,6,4,4,0,0,88,39,38,0
4,24,2,15770,15,9,5,9,3,4,0,0,88,39,38,0
5,17,2,13278,11,8,0,7,4,4,0,0,87,44,38,0
6,21,2,7296,0,5,5,0,4,4,1,0,87,39,38,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,5,2,17375,15,9,4,10,1,4,1,0,0,39,38,0
32557,10,2,15471,7,11,2,12,5,4,0,0,0,37,38,0
32558,23,2,7555,11,8,2,6,0,4,1,0,0,39,38,1
32559,41,2,7377,11,8,6,0,4,4,0,0,0,39,38,0
32560,5,2,12060,11,8,4,0,3,4,1,0,0,19,38,0

In [103]:
df = df.replace('?', np.NaN)

In [104]:
df.isna().sum()

age               0
workclass         0
fnlwgt            0
education         0
education.num     0
marital.status    0
occupation        0
relationship      0
race              0
sex               0
capital.gain      0
capital.loss      0
hours.per.week    0
native.country    0
income            0
dtype: int64

In [105]:
df = df.dropna()
df = df.drop_duplicates()
df.shape

(30139, 15)

In [86]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30139 entries, 1 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             30139 non-null  int64
 1   workclass       30139 non-null  object
 2   fnlwgt          30139 non-null  int64
 3   education       30139 non-null  object
 4   education.num   30139 non-null  int64
 5   marital.status  30139 non-null  object
 6   occupation      30139 non-null  object
 7   relationship    30139 non-null  object
 8   race            30139 non-null  object
 9   sex             30139 non-null  object
 10  capital.gain    30139 non-null  int64
 11  capital.loss    30139 non-null  int64
 12  hours.per.week  30139 non-null  int64
 13  native.country  30139 non-null  object
 14  income          30139 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [106]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education.num',
       'marital.status', 'occupation', 'relationship', 'race', 'sex',
       'capital.gain', 'capital.loss', 'hours.per.week', 'native.country',
       'income'],
      dtype='object')

In [88]:
var_cat = ["workclass","education","marital.status","occupation","relationship","race","sex","native.country","income" ]
var_num = ["age","fnlwgt","education.num","capital.gain","capital.loss"]
print('les variables catégoriques sont:',var_cat)
print('les variables numériques sont:',var_num)

les variables catégoriques sont: ['workclass', 'education', 'marital.status', 'occupation', 'relationship', 'race', 'sex', 'native.country', 'income']
les variables numériques sont: ['age', 'fnlwgt', 'education.num', 'capital.gain', 'capital.loss']

In [107]:
df_cat=df[var_cat]
df_num=df[var_num]
df_cat

,workclass,education,marital.status,occupation,relationship,race,sex,native.country,income
1,2,11,6,3,1,4,0,38,0
3,2,5,0,6,4,4,0,38,0
4,2,15,5,9,3,4,0,38,0
5,2,11,0,7,4,4,0,38,0
6,2,0,5,0,4,4,1,38,0
...,...,...,...,...,...,...,...,...,...
32556,2,15,4,10,1,4,1,38,0
32557,2,7,2,12,5,4,0,38,0
32558,2,11,2,6,0,4,1,38,1
32559,2,11,6,0,4,4,0,38,0
32560,2,11,4,0,3,4,1,38,0

In [108]:
colonne_cible = 'income'

In [109]:
X = df.drop(colonne_cible, axis='columns')
y = df[colonne_cible]

In [110]:
# Spécifier la partie test et la partie train
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=5) #20% des données dans le test_set
print('Train set:', X_train.shape)
print('Test set:', X_test.shape)

Train set: (24111, 14)
Test set: (6028, 14)

In [113]:
#instancier le modèle
clf=LogisticRegression()
#entraîner le modèle
clf.fit(X_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

In [115]:
#tester le modèle
pred=clf.predict(X_test)

In [117]:
pred

array([0, 0, 0, ..., 0, 0, 0], dtype=int8)

In [118]:
y_test

8912     0
22011    0
10844    0
19893    0
30577    0
        ..
400      1
30550    0
10785    0
14348    0
25369    1
Name: income, Length: 6028, dtype: int8

In [119]:
accuracy_score(y_test,pred) ##vérifier si le modèle est précis

0.7790311877903119