<a href="https://colab.research.google.com/github/ChemsBellaza/Projet_Ecole/blob/main/Churn_Modeling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
import numpy as np
import pickle

In [2]:
df = pd.read_csv('/content/Churn-Modelling - Churn-Modelling.csv')

In [3]:
df.head

<bound method NDFrame.head of       RowNumber  CustomerId    Surname  CreditScore Geography  Gender  Age  \
0             1    15634602   Hargrave          619    France  Female   42
1             2    15647311       Hill          608     Spain  Female   41
2             3    15619304       Onio          502    France  Female   42
3             4    15701354       Boni          699    France  Female   39
4             5    15737888   Mitchell          850     Spain  Female   43
...         ...         ...        ...          ...       ...     ...  ...
9995       9996    15606229   Obijiaku          771    France    Male   39
9996       9997    15569892  Johnstone          516    France    Male   35
9997       9998    15584532        Liu          709    France  Female   36
9998       9999    15682355  Sabbatini          772   Germany    Male   42
9999      10000    15628319     Walker          792    France  Female   28

      Tenure    Balance  NumOfProducts  HasCrCard  IsActiveMember  \
0          2          0              1          1               1
1          1   83807,86              1          0               1
2          8   159660,8              3          1               0
3          1          0              2          0               0
4          2  125510,82              1          1               1
...      ...        ...            ...        ...             ...
9995       5          0              2          1               0
9996      10   57369,61              1          1               1
9997       7          0              1          0               1
9998       3   75075,31              2          1               0
9999       4  130142,79              1          1               0

     EstimatedSalary  Exited
0          101348,88       1
1          112542,58       0
2          113931,57       1
3           93826,63       0
4            79084,1       0
...              ...     ...
9995        96270,64       0
9996       101699,77       0
9997        42085,58       1
9998        92888,52       1
9999        38190,78       0

[10000 rows x 14 columns]>

In [4]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0,1,1,1,"101348,88",1
1,2,15647311,Hill,608,Spain,Female,41,1,"83807,86",1,0,1,"112542,58",0
2,3,15619304,Onio,502,France,Female,42,8,"159660,8",3,1,0,"113931,57",1
3,4,15701354,Boni,699,France,Female,39,1,0,2,0,0,"93826,63",0
4,5,15737888,Mitchell,850,Spain,Female,43,2,"125510,82",1,1,1,"79084,1",0

In [12]:
df.shape

(10000, 14)

## Missing Data

In [6]:
df.isna().sum() # On remarque qu'il n'y a pas de valeurs manquantes !

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [7]:
df.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [20]:
df.drop(['RowNumber'], axis=1)

,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,15634602,Hargrave,619,France,Female,42,2,0,1,1,1,"101348,88",1
1,15647311,Hill,608,Spain,Female,41,1,"83807,86",1,0,1,"112542,58",0
2,15619304,Onio,502,France,Female,42,8,"159660,8",3,1,0,"113931,57",1
3,15701354,Boni,699,France,Female,39,1,0,2,0,0,"93826,63",0
4,15737888,Mitchell,850,Spain,Female,43,2,"125510,82",1,1,1,"79084,1",0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,15606229,Obijiaku,771,France,Male,39,5,0,2,1,0,"96270,64",0
9996,15569892,Johnstone,516,France,Male,35,10,"57369,61",1,1,1,"101699,77",0
9997,15584532,Liu,709,France,Female,36,7,0,1,0,1,"42085,58",1
9998,15682355,Sabbatini,772,Germany,Male,42,3,"75075,31",2,1,0,"92888,52",1
9999,15628319,Walker,792,France,Female,28,4,"130142,79",1,1,0,"38190,78",0

In [14]:
df = df.drop_duplicates()

In [15]:
df.shape

(10000, 14)

In [18]:
df.Exited.value_counts()

0    7963
1    2037
Name: Exited, dtype: int64

In [21]:
df.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [43]:
df = df.drop(['CustomerId','Surname'],axis=1)

In [44]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,0,0,42,2,0,1,1,1,"101348,88",1
1,608,2,0,41,1,"83807,86",1,0,1,"112542,58",0
2,502,0,0,42,8,"159660,8",3,1,0,"113931,57",1
3,699,0,0,39,1,0,2,0,0,"93826,63",0
4,850,2,0,43,2,"125510,82",1,1,1,"79084,1",0

In [45]:
df.columns

Index(['CreditScore', 'Geography', 'Gender', 'Age', 'Tenure', 'Balance',
       'NumOfProducts', 'HasCrCard', 'IsActiveMember', 'EstimatedSalary',
       'Exited'],
      dtype='object')

In [46]:
var_cat = ['Geography', 'Gender']
var_num = ['CreditScore','Age','Tenure', 'Balance','NumOfProducts', 'HasCrCard', 'IsActiveMember','EstimatedSalary', 'Exited']
print('Categorical variables are:',var_cat)
print('Numerical variables are:',var_num)

Categorical variables are: ['Geography', 'Gender']
Numerical variables are: ['CreditScore', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard', 'IsActiveMember', 'EstimatedSalary', 'Exited']

In [47]:
for cat_column in var_cat:
  df[cat_column] = pd.Categorical(df[cat_column]).codes

In [48]:
df.head() #Je pense qu'on peut drop surname et customer ID, ces colonnes n'impacteront pas la décision

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,0,0,42,2,0,1,1,1,"101348,88",1
1,608,2,0,41,1,"83807,86",1,0,1,"112542,58",0
2,502,0,0,42,8,"159660,8",3,1,0,"113931,57",1
3,699,0,0,39,1,0,2,0,0,"93826,63",0
4,850,2,0,43,2,"125510,82",1,1,1,"79084,1",0

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CreditScore      10000 non-null  int64
 1   Geography        10000 non-null  int8
 2   Gender           10000 non-null  int8
 3   Age              10000 non-null  int64
 4   Tenure           10000 non-null  int64
 5   Balance          10000 non-null  object
 6   NumOfProducts    10000 non-null  int64
 7   HasCrCard        10000 non-null  int64
 8   IsActiveMember   10000 non-null  int64
 9   EstimatedSalary  10000 non-null  object
 10  Exited           10000 non-null  int64
dtypes: int64(7), int8(2), object(2)
memory usage: 800.8+ KB

In [75]:
df['Balance'] = df['Balance'].str.replace(',','.')

AttributeError: ignored

In [76]:
df['EstimatedSalary'] = df['EstimatedSalary'].str.replace(',','.')

In [73]:
df['Balance']=df['Balance'].astype(float)

In [77]:
df['EstimatedSalary']=df['EstimatedSalary'].astype(float)

In [78]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CreditScore      10000 non-null  int64
 1   Geography        10000 non-null  int8
 2   Gender           10000 non-null  int8
 3   Age              10000 non-null  int64
 4   Tenure           10000 non-null  int64
 5   Balance          10000 non-null  float64
 6   NumOfProducts    10000 non-null  int64
 7   HasCrCard        10000 non-null  int64
 8   IsActiveMember   10000 non-null  int64
 9   EstimatedSalary  10000 non-null  float64
 10  Exited           10000 non-null  int64
dtypes: float64(2), int64(7), int8(2)
memory usage: 800.8 KB

In [79]:
target_col = 'Exited'

In [80]:
X = df.drop(target_col, axis='columns')
y = df[target_col]

In [81]:
# Spécifier la partie test et la partie train
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=5) #20% des données dans le test_set
print('Train set:', X_train.shape)
print('Test set:', X_test.shape)

Train set: (8000, 10)
Test set: (2000, 10)

#Comparate different classification models

Logistic Regression

In [82]:
# Instanciate the model
model=LogisticRegression()
# Train the model
model.fit(X_train,y_train)
# Make predictions on the test datasets
predictions = model.predict(X_test)
# Get the model accuracy
accuracy_score(y_test,predictions)

0.791

#KNN

In [83]:
# Instanciate the model
model=KNeighborsClassifier()
# Train the model
model.fit(X_train,y_train)
# Make predictions on the test datasets
predictions = model.predict(X_test)
# Get the model accuracy
accuracy_score(y_test,predictions)

0.7645

#Decision Tree

In [84]:
# Instanciate the model
model = DecisionTreeClassifier()
# Train the model
model.fit(X_train,y_train)
# Make predictions on the test datasets
predictions = model.predict(X_test)
# Get the model accuracy
accuracy_score(y_test,predictions)

0.795

# Random Forest

In [85]:
# Instanciate the model
model = RandomForestClassifier()
# Train the model
model.fit(X_train,y_train)
# Make predictions on the test datasets
predictions = model.predict(X_test)
# Get the model accuracy
accuracy_score(y_test,predictions)

0.8565

In [86]:
models = {
    "logistic_regression": LogisticRegression(max_iter=3000),
    "knn": KNeighborsClassifier(),
    "decision_tree": DecisionTreeClassifier(),
    "random_forest": RandomForestClassifier()
}

for model_name, model in models.items():
  print("########################")
  print(model_name)
  # Train the model
  model.fit(X_train,y_train)
  # Make predictions on the test datasets
  predictions = model.predict(X_test)
  # Get the model accuracy
  score = accuracy_score(y_test,predictions)
  print(score)
  print("########################\n")

########################
logistic_regression
0.791
########################

########################
knn
0.7645
########################

########################
decision_tree
0.79
########################

########################
random_forest
0.858
########################